
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  width: 100%;
  height: 50px;
  background: rgba(69, 69, 69, 1);
  padding: 4px 0px 0px 200px;
  display: flex;
  position: fixed;
  z-index: 1000;
  transition: background 0.3s ease;
}

.transparent-header {
  background: rgba(69, 69, 69, 0.88) !important;
  z-index: 999;
}

.logo {
  width: 212px;
}

.img_logo > img {
  height: 41.14px;
  line-height: 52;
}

nav {
  line-height: 50px;
  margin-left: 100px;
}
.active {
  color: #088178;
  font-size: 20px;
}

ul {
  display: flex;
  list-style: none;
}

ul > li {
 padding: 0px 21px;
 font-size: 18px;
 font-weight: 500;
 color: #3a589d;
 transition: .2s;
}

ul > li:hover {
 
  color: #088178;
 }


.icons {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 280px;
  font-size: 21px;
  font-weight: 900;
}

.ti-search:hover {
  color: #fff;
}

.ti-shopping-cart,
.ti-user {
  margin-left: 40px;
}

.ti-shopping-cart:hover,
.ti-user:hover {
  color: #fff;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.chill {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.chill-img > img {
  width: 417.9px;
  height: 213.06px;
  margin: 10px;
}

#iphone,
#ipad,
#mac,
#watch,
#tainghe {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

.iphones {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  padding: 0px 0px 0px 30px;
}

.iphone-sp {
  border: 1px solid #e8f6ea;
  width: 268.13px;
  margin-left: 15px;
  background: #fff;
  border-radius: 15px;
  margin-bottom: 50px;
  transition: box-shadow 0.3s ease-in-out;
  margin-top: 30px;
}

.iphone-sp:hover {
  box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.7);
}

.img-sp > img {
  margin-top: 20px;
  margin-left: 10px;
  width: 248.52px;
  height: 268.52px;
  cursor: pointer;
}

.name-sp {
  font-weight: 600;
  font-family: monospace;
  font-size: 16px;
  margin-left: 5px;
  margin-top: 15px;
  cursor: pointer;
}

.giasp {
  display: flex;
  margin-top: 15px;
}

.giacu-sp {
  color: #d2d2d7;
  margin-left: 5px;
  font-size: 15px;
}

.gianew-sp {
  margin-left: 15px;
  color: brown;
  font-weight: 600;
}

.button-sp {
  margin-bottom: 20px;
}

button.ti-shopping-cart {
  width: 30px;
  height: 30px;
  background: #e8f6ea;
  color: #088178;
  border: none;
  margin-top: 10px;
  border-radius: 2px;
  border-radius: 50%;
  transition: 0.3s;
}

button.ti-shopping-cart:hover {
  background: #088178;
  color: #fff;
  cursor: pointer;
}

button.dathang {
  margin-left: 15px;
  width: 140px;
  font-size: 16px;
  height: 30px;
  background: #e8f6ea;
  border: none;
  color: #088178;
  border-radius: 10px 0px 10px 0px;
  transition: 0.3s;
}

button.dathang:hover {
  background: #088178;
  color: #fff;
  cursor: pointer;
}

button.xemsp-ip,
button.xemsp-ipad {
  width: 226.83px;
  height: 39.6px;
  color: #0066cc;
  border: 0.5px solid #0066cc;
  font-size: 15px;
  margin-left: 650px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

button.xemsp-ip:hover,
button.xemsp-ipad:hover {
  background: #0066cc;
  color: #fff;
  font-weight: 500;
}



.newtintuc {
  display: flex;
  justify-content: center;
}

.tintuc {
  width: 377.5px;
  height: 395.74px;
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.img-tintuc > img {
  width: 100%;
  height: 226.74px;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}

.nametintuc > p {
  font-size: 18px;
  margin-left: 10px;
  margin-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.timett {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 18px;
  color: #d2d2d7;
}

.boxs-ctsp {
  width: 80%;
  height: 500px;
  border: 0px solid rgb(0, 0, 0);
  margin: 20px 0px 0px 150px;
  display: flex;
  flex-wrap: wrap;
}

.box-ctsps {
  width: 60%;
  height: 100%;
  border: 1px solid #4444;
  border-radius: 20px;
  text-align: center;
}

.box-ctsp2 {
  width: 40%;
  height: 100%;
  border: 0px solid black;
}

.ctsp-product-name {
  margin: 50px 0px 0px 150px;
  display: flex;
}

.product-name {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}

.capacity-version {
  width: 100%;
  height: 65px;
  border: 0px solid black;
  display: flex;
  padding: 6px 0px 0px 17.5px;
}

.capacity-versions {
  width: 140px;
  height: 50px;
  border: 1px solid #4444;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0px 0px 8px;
  cursor: pointer;
}

.capacity-versions.active {
  border: 1px solid brown;
}

.capacity-price {
  color: brown;
}

.ctsp-text-color {
  width: 100%;
  height: 80px;
  border: 0px solid black;
  margin: 20px 0px 0px 0px;
}

.text-color {
  padding: 0px 0px 0px 22px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}

.box-color-sps {
width: 100%;
height: 120px;
border: 0px solid black;
display: flex;
flex-wrap: wrap;
padding: 0px 0px 0px 14px;
}

.box-color-sp {
width: 140px;
height: 50px;
border: 1px solid #4444;
margin-left: 10px;
border-radius: 5px;
display: flex;
cursor: pointer;
}

.box-color-sp.active {
border: 1px solid brown;
}

.color-sp1 {
width: 40%;
height: 100%;
text-align: center;
padding: 10px 0px 0px 0px;
}

.color-sp2 {
width: 60%;
height: 100%;
padding: 5px 0px 0px 0px;
}

.text-color-price{
font-size: 13px;
color: #222;
}

.price-color {
font-size: 13px;
color: #222;
}

.old-new-price {
width: 100%;
height: 80px;
border: 0px solid black;
margin: 80px 0px 0px 0px;
background-color: #EEEEEF;
border-radius: 10px;
display: flex;
}

.border-old-new-price1 {
width: 200px;
height: 65px;
border: 0px solid #4444;
margin: 8px 0px 0px 22px;
border-radius: 5px;
transition: .2s;
display: flex;
cursor: pointer;
}

.border-old-new-price1:hover {
background-color: white;
}

.border-old-new-prices1 {
width: 40%;
height: 100%;
border: 0px solid black;
}

.border-old-new-prices2 {
width: 60%;
height: 100%;
border: 0px solid black;
}

.ti-github {
font-size: 25px;
margin: 20px 0px 0px 16px;
}

.text-prices2 {
font-size: 18px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 600;
margin: 15px 0px 0px 0px;
color: #222;
}

.text-prices3 {
font-size: 12px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 600;
color: #4444;
}





.border-old-new-price2 {
width: 200px;
height: 65px;
border: 1px solid red;
border-radius: 5px;
margin: 8px 0px 0px 42px;
background-color: #fff;
text-align: center;
}

.new-price {
font-size: 18px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 600;
color: red;
margin-top: 5px;
cursor: pointer;
}

.old-price {
font-size: 16px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: #4444;
font-weight: 600;
}

.button-add-card {
width: 300px;
height: 65px;
border: 1px solid #33CC33;
margin: 30px 0px 0px 100px;
border-radius: 5px;
background-color: #fff;
transition: .2s;
text-align: center;
cursor: pointer;
}

.ti-credit-card {
font-size: 20px;
color: #33CC33;
margin: 10px 0px 0px 0px;
}

.button-add-card-text {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 18px;
color: #33CC33;
font-weight: 600;
}

.button-add-card:hover .ti-credit-card,
.button-add-card:hover .button-add-card-text {
color: #fff;
}

.button-add-card:hover {
background-color: #33CC33;
color: #fff;
}




.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: 60px 0px 0px 0px;
}

.mySlides {
  display: none;
  border: 0px solid black;
}
.mySlides > img {
  width: 100%;
  object-fit: cover;
  height: 350px;
}


.mySlides:first-child {
  display: block; /* Hiển thị slide đầu tiên khi trang được tải */
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin: -22px 0px 0px -352px; /* Đảm bảo vị trí chính giữa theo chiều dọc */
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fade {
  animation: fade 86400s;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

table {
  text-align: center;
}

form {
  width: 600px;
  max-width: 100%;
  padding: 32px;
  border: 1px solid #ccc;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  margin: 150px 0px 0px 380px;
}
.form-group {
  margin-bottom: 24px;
}

table {
  text-align: center;
}